/* Zero Style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ul, ol{
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main.main{
    transition: .4s linear;
}


/* Font Family */

@font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    src: 
        url("./fonts/Ubuntu-Regular.ttf ") format("ttf"),
        url("./fonts/Ubuntu-Regular.woff ") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-weight: 700;
    src: 
        url("./fonts/Ubuntu-Medium.ttf") format("ttf"),
        url("./fonts/Ubuntu-Medium.woff") format("woff");
}

@font-face {
    font-family: "Nunito";
    src: 
        url("./fonts/Nunito-Bold.ttf") format("ttf"),
        url("./fonts/Nunito-Bold.woff ") format("woff");
}

/* Сommon Style */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container{
    margin: 0 auto;
    width: 1260px;
}



/* Header */

header.header{
    padding: 25px 0px;
    border: 5px solid #0000;
}

.nav__mobile{
    display: none;
}

.nav__logo img{
    width: 200px;
}

ul.nav__menu{
    display: flex;
    align-items: center;
}

ul.nav__menu li{
    padding-right: 31px;
}

ul.nav__menu li a{
    transition: .5s linear;
    color: #000;
    font-family: Ubuntu;
    font-weight: 700;
    text-decoration: none
}

ul.nav__menu li a:hover{
    color: #38E54D;
}

/* Reg button */

.reg__btn {
    position: relative;
    cursor: pointer;
    z-index: 1;
    padding: 5px 6px;
    border-radius: 17px;
    background-image: linear-gradient(93deg,
            #2192ff 4.25%,
            #9cff2e 94.59%);
    color: #fff;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

.reg__btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 17px;
    background-image: linear-gradient(93deg,
            #fdff00 4.25%,
            #9cff2e 30%,
            #38e54d 60%,
            #2192ff 94.59%);
    opacity: 0;
    animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* signIn Button */

.signIn__btn{
    padding: 5px 6px;
    border: none;
    cursor: pointer;

    border-radius: 17px;
    background: #38E54D;


    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Hero */

.hero{
    height: 100vh;
}

.hero__text h1{
    padding-bottom: 50px;

    width: 550px;
    color: #000;

    font-family: Nunito;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.hero__text h1 span{
    color: #38E54D;
}

.hero__text p{
    padding-bottom: 35px;

    width: 600px;
    color: #000;

    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.hero__btn{
    padding: 20px 50px;
    transition: .9s cubic-bezier(.17,.67,.23,1.3);

    border:none;
    cursor: pointer;

    border-radius: 52px;
    background: #38E54D;

    color: #FFF;
    font-family: Ubuntu;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero__btn:hover{
    background: #2192FF;
}


/* Choice */

.choice{
    margin-top: 500px;
    height: 480px;
    background: linear-gradient(113deg, #38E54D 2.18%, #9CFF2E 64.11%);
}

.choice .wrapper{
    justify-content: start;
    align-items: start;
}

.choice__text{
    margin-top: 75px;
}

.choice__text h2{
    width: 423px;
    color: #FFF;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.9%;

    padding-bottom: 15px;
}

.choice__text p{
    width: 349px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.choice__img img{
    position: relative;
    top: -200px;
    width: 500px;
}

.choice__list{
    margin-top: 75px; 
}

.choice__list h2{
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.choice__list ol{
    padding-top: 20px;
}


.choice__list ol li{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 15px;
}

.choice__btn{
    border: none;
    text-align: left;

    cursor: pointer;
    padding-left: 10px;
    width: 235px;
    height: 35px;

    border-radius: 18px;
    background: #2192FF;

    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
 


/* Mobile Version */
@media(max-width: 480px){
  .container{
    width: 480px;
    padding: 0px 10px;
  }

  main{
    margin-top: 40px;
  }



  /* Header Mobile */
  .nav {
      display: none;
  }

  .nav__mobile{
    overflow: hidden;
    transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 999;
    background-color: white;
    position: fixed;
    width: 410px;

    padding: 10px 16px;
    margin-bottom: 20px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 27px;
    border: 1px solid #CACACA;
    /* box-shadow: 0px 3px 10px 2px #38E54D; */
    display: block;
  }

  .anim_shadow{
    box-shadow: 0px 3px 10px 2px #38E54D;
    transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

    .open_menu {
        transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
        height: 300px;
    }

    .menu__mobile{
        padding-top: 39px;
        padding-bottom: 16px;
    }

    .nav__mobile li{
        margin-bottom: 5px;
    }

    .nav__mobile li a{
        text-decoration: none;
        color: #000;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

  .nav__mobile-logo img{
    width: 150px;
  }

  .nav__mobile-menubtn img{
    margin-top: 10px;
    margin-right: 5px;
    width: 30px;
  }

  .reg__btn{
    font-size: 25px;
    padding: 5px 0px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .signIn__btn{
    font-size: 25px;
    padding: 6px 0px;
    padding-right: 100px;
    padding-left: 10px;
  }

  /* Hero Mobile */
  .hero{
    padding-top: 80px;
  }


  .hero__img img{
    width: 300px;
    margin-left: 75px;
  }

  .hero__text{
    text-align: center;
  }

  .hero__text h1{
    padding-bottom: 20px;
    width: 440px;
    font-size: 25px;
  }

  .hero__text p{
    width: 455px;
    font-size: 20px;
  }

  .hero__btn{
    font-size: 20px;
  }

  /* Choice Mobile */

  .choice{
    width: 501px;
    height: 977px;
  }

  .choice__text{
    text-align: center;
    order: 1;
  }

  .choice__text h2{
    width: 480px;
    padding-bottom: 30px;
    font-size: 25px;
  }

  .choice__text p{
    font-size: 20px;
    width: 480px;
  }

  .choice__list{ 
    text-align: center;
    justify-content: center;
    order: 2;
  }

  .choice__list h2{
    font-size: 25px;
  }

  .choice__list ol li{
    padding-bottom: 15px;
    font-size: 20px;
  }

  .choice__img{
    position: relative;
    top: 252px;
    order: 3;
  }

  .choice__img img{
    width: 350px;
  }
} 